# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# poetry 
poetry.lock

# DS_Store
.DS_Store
notebooks/.DS_Store
scripts/.DS_Store

# env
env
.venv
.python-version

# build things
build/
bia_bmz_integrator.egg-info/
bia-bmz-integration.tar

# vs code
.vscode

# big script inputs
batch_run.txt